
body {
    --first-background:blue;
    --second-background: rgb(29, 29, 112);
    --third-background: rgb(123, 123, 188);
    --firstfont: Arial;
    --secondfont: Times;
    font-family: var(--firstfont);
}

.container {
    display: flex;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.box {
    height: 100px;
    width: 100px;
    border: solid 1px rgb(84, 80, 80);
    border-radius: 5px;
}
.box1 {
    background-color: var(--first-background)
}
.box2 {
    background-color: var(--second-background)
}

.box3 {
    background-color: var(--third-background)
}

.box4 {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border: none;
    font-family: var(--secondfont);
}

.box5 {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border: none;
    font-family: var(--secondfont);
}

.box6 {
   box-shadow: 5px 5px 10px rgb(79, 78, 78);
}